:root {
  --text-color: #330000;
  --background-color: #ffffcc;
  --header-footer-background: #ccaa66;
  --left-nav-column-bg-color: #e8d882;
  --right-main-content-column-bg-color: #f1e8b0;
}

body {
  font-family: "Verdana";
  margin-left: 10%;
  margin-right: 10%;
}
.header-div,
.footer-div {
  border: 5px solid #000000;
}

.header-div {
  text-align: center;
  background-color: var(--header-footer-background);
  /* font-size: 3em;
  font-weight: bold; */
  color: var(--text-color);
}

div.content-div {
  border-left: 5px solid #000000;
  border-right: 5px solid #000000;
}

ul.navigation-ul {
  margin: 0;
  padding: 0;
  padding-left: 10px;
}

ul.navigation-ul > li {
  /* text-decoration: none; */
  list-style-type: none;
  padding-bottom: 20px;
}

.content-div {
  display: grid;
  grid-template-columns: 20% 40% 40%; /* Total 100% */
}
.content-column {
  padding: 10px 0 10px 0;
  /* padding-bottom: 10px; */

  /* background-color: #f0f0f0;
  border: 1px solid #ccc; */
}

#content-column-second {
  padding-left: 10px;
}

.content-div > .content-column:last-child {
  display: flex;
  justify-content: flex-end; /* Aligns content horizontally to the right */
  align-items: flex-end; /* Aligns content vertically to the bottom */
  width: 100%;
}

img.coffee-picture {
  height: 200px;
  width: auto;
  padding-right: 10px;
}

.content-div > .content-column:first-child {
  background-color: #e8d882;
}

.content-column {
  background-color: #f1e8b0;
}

.footer-div {
  background-color: #ccaa66;
  border-top-style: solid;
  height: 62px;
  text-align: center;
  font-style: italic;
}
